<mat-card class="max-w-md mx-auto mb-4 post-container">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- If you want to add content here -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openPostDetail(post)">Read More</button>
  </mat-card-actions>
  <mat-card-footer>
    <p class="px-4 py-2">{{ post.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
  </mat-card-footer>
</mat-card>