<div class="md:container md:mx-auto container mx-auto mt-10">
    <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
    <div class="grid grid-cols-3 gap-6">
      @if (loading) {
        <p>Loading posts...</p>
      } @else {
        @for (item of posts; track item.id) {
            <app-post-item [post]="item"></app-post-item>
        }@empty {
            <p>There are no posts yet.</p>
        }
      }
      @if (error) {
        <p class="text-red-500">{{ error }}</p>
      }
    </div>
</div>